[submodule "src/aruco_ros"]
	path = src/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
[submodule "src/mavros"]
	path = src/mavros
	url = git@bitbucket.org:volansi/voly-mavros.git
[submodule "src/px4_firmware"]
	path = src/px4_firmware
	url = git@bitbucket.org:volansi/px4firmware.git
	branch = voly-master
[submodule "src/precision_landing"]
	path = src/precision_landing
	url = git@bitbucket.org:volansi/precision_landing.git
[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = https://github.com/AprilRobotics/apriltag_ros.git
[submodule "src/apriltag_lib"]
	path = src/apriltag_lib
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = git@bitbucket.org:volansi/robot_localization.git
[submodule "src/mavlink-router"]
	path = src/mavlink-router
	url = https://github.com/intel/mavlink-router.git
[submodule "src/orb_slam_2_ros"]
	path = src/orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros.git
[submodule "src/mavlink_sitl_gazebo"]
	path = src/mavlink_sitl_gazebo
	url = git@bitbucket.org:volansi/voly-sitl_gazebo.git
[submodule "src/spinnaker_sdk_camera_driver"]
	path = src/spinnaker_sdk_camera_driver
	url = git@bitbucket.org:volansi/spinnaker_sdk_camera_driver.git
[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/avoidance"]
	path = src/avoidance
	url = git@bitbucket.org:volansi/avoidance.git
[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
[submodule "vendor/opencv_contrib"]
	path = vendor/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
